
  <app-header></app-header>
  
   <!-- Page Wrapper -->
   <div id="wrapper">

    <!-- Sidebar -->

    <!-- End of Sidebar -->

    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

       
    </nav>
    <!-- End of Topbar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Content Row -->
                <div class="row" style="margin-top: 70px;">

                    <router-outlet></router-outlet>

                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div class="footer" style="background-color:#cccccc; margin-top: 20px;" >
            <div class="container py-2">
              <div class="row py-4 col text-center">
                <div class="col-lg-6 mb-2 mb-lg-0" align="right" style="border-right: 2px solid #818181;">
                  <a href="" class="logo pe-0 pe-lg-3">
                    <img alt="logo" src="assets/img/moncada/copy/logo.png" height="60px">
                  </a>
                </div>
                <div class="col-lg-6 mb-2 mb-lg-0" align="left">
                  <p style="color:#818181; margin-left: 25px;">© Derechos de autor 2022.<br/> Todos los derechos reservados.</p>
                </div>
              </div>
            </div>
          </div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->