<footer id="footer" class="border-top-0">
    <div class="container py-4">
        <div class="row py-5">
            <div class="col-6 col-sm-4 col-md-4 col-lg-4">
                <h5 class="text-3 mb-3">ENLACES DE INTERÉS</h5>
                <ul class="list list-icons list-icons-sm mb-0">

                    <li> <a class="link-hover-style-1" target="_blank" href="http://www.centrofidel.cu">Centro Fidel Castro Ruz</a></li>

                    <li> <a class="link-hover-style-1" target="_blank" href="http://www.cnpc.cult.cu">Consejo Nacional Patrimonio Cultural</a></li>

                    <li> <a class="link-hover-style-1" target="_blank" href="http://historiadores.cult.cu">Unión de Historiadores de Cuba</a></li>


                    <li> <a class="link-hover-style-1" target="_blank" [href]="">Instituto de Historia de Cuba</a></li>

                    <!-- <li> <a class="link-hover-style-1" target="_blank" [href]="urluo">Universidad de Oriente</a></li> -->

                    <li> <a class="link-hover-style-1" target="_blank" href="http://cubarte.cult.cu">Portal Cubarte</a></li>

                    <li> <a class="link-hover-style-1" target="_blank" href="http://www.santiago.gob.cu/es/">Portal Gobierno Santiago de Cuba </a></li>


                    <!-- <li> <a class="link-hover-style-1" target="_blank" [href]="urlohlh">Oficina del Historiador de La Habana</a></li> -->
                </ul>



            </div>
            <div class="col-6 col-sm-2 col-md-2 col-lg-2">
                <h5 class="text-3 mb-3">HORARIO</h5>
                <ul class="list list-icons list-icons">
                    <li class="text-color-light"> <i class="far fa-clock"></i>Lunes - Sábado:</li>
                    <li class="text-color-light">9:00 a 4:30 pm</li>
                    <li class="text-color-light"> <i class="far fa-clock"></i>Domingo: </li>
                    <li class="text-color-light">9:00 a 12:30 pm</li>

                </ul>

            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                <h5 class="text-3">CONTACTO</h5>
                <ul class="list list-icons list-icons">
                    <li class="mb-1"><i class="far fa-dot-circle text-color-light"></i>
                        <p class="m-0 text-color-light">Calle Trinidad Esquina Moncada sin número, Santiago de Cuba, Cuba</p>
                    </li>
                    <li class="mb-1"><i class="fab fa-whatsapp text-color-light"></i>
                        <p class="m-0">
                            <a class="text-color-light">
                                (53) 22-661157                                                   
                          </a>
                        </p>
                    </li>

                </ul>

            </div>

            <div class="col-6 col-sm-3 col-md-3 col-lg-3">

            <a [routerLink]="['/autenticación/iniciar-sesión']" target="_blank">
                <h5 class="text-3">ADMINISTRAR <i style="margin-left: 3px;" class="fa fa-cog" aria-hidden="true"></i></h5>
            </a>
                
            </div>

        </div>
    </div>
    <div class="footer-copyright" style="background-color:#cccccc;">
        <div class="bg-color-scale-overlay-wrapper">
            <div class="container py-2">
                <div class="row py-4 col text-center">
                    <div class="col-lg-6 mb-2 mb-lg-0" align="right" style="border-right: 2px solid #818181;">
                        <a href="" class="logo pe-0 pe-lg-3">
                            <img alt="logo" src="assets/img/moncada/copy/logo.png" height="60px">
                        </a>
                    </div>
                    <div class="col-lg-6 mb-2 mb-lg-0" align="left">
                        <p style="color:#818181; margin-left: 25px;">© Copyright 2023.<br/> Todos los derechos reservados.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</footer>
